/*------------------------
BREADCRUMB LAYOUT
-----------------------*/

.container_breadcrumb {
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumd_list {
    display: flex;
    justify-content: flex-end;
}

/*-----------------------
BREADCRUMB TYPOGRAPHY
-----------------------*/

.breadcrumd_title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #F16D7F;
}

.breadcrumd_item {
    font-style: normal;
    font-weight: 300;
        font-size: 14px;
    color: #636363;
    padding: .5em;
}

.breadcrumd_item:hover {
    color: #F16D7F;
}

.breadcrumd_list li:first-child::after {
    content: " / ";
  }

  .breadcrumd_list li:nth-child(2n)::after {
    content: " / ";
  }


/*-----------------------
BREADCRUMB MEDIA
-----------------------*/

@media (max-width: 768px) {
    .container_breadcrumb {
       display: flex;
       flex-direction: column;
       justify-content: center;
       gap: 2em;
    }
}

@media (max-width: 1140px) and (min-width: 769px)  {
    .container_breadcrumb {
        margin:  0 1em;
    }
}

/*-----------------------
SHOPING CART TYPOGRAPHY
-----------------------*/

.cart_item {
    box-shadow:17px 19px 24px rgba(0, 0, 0, 0.13);
    margin-bottom: 40px;
}

.cart_item_info {
    margin: 1.37em 3.56em 3.8em 2em;
}

.cart_item_title {
    font-weight: 600;
    font-size: 24px;
    color: #222222;
    margin-bottom: 1.6em;
    max-width: 262px;
}

.cart_item_details li {
    font-weight: 400;
    font-size: 22px;
    color: #575757;
    padding-bottom:6px;
}

.cart_item_details span {
    color: #EF5B70;
}

.quantity_box {
    display: flex;
}

.input_quantity {
    border: 1px solid #EAEAEA;
    margin-left: 1.5em;
}

.cart_delete {
    margin-top: 1.37em;
    margin-right: 1.37em
}

.shoping_cart_right {
    width: 360px;
}

.adress_title {
    font-weight: 300;
    font-size: 18px;
    color: #222222;
}

.adress_input {
    border: 2px solid #A4A4A4;
    margin-top:20px;
    height: 45px;
    padding: 13px 0 16px 17px;
}

.get_quote {
    width: 101px;
    height: 35px;
    border: 2px solid #A4A4A4;
    margin-top: 34px;
    font-size: 11px;
    background-color: #FFFFFF;
}

.get_quote:hover {
    background-color: #F16D7F;
}

.shoping_cart_total {
    background: #F5F3F3;
    margin-top: 57px;
    width: 360px;   
    color:#4A4A4A;
}

.sub_total_text {
    padding-top: 39px;
    padding-bottom: 12px;
}

.grand_total_text,
.sub_total_text {
    padding-right: 34px;
}

/*-----------------------
SHOPING CART LAYOUT MEDIA
-----------------------*/

.container_shopping_cart {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}

.cart_item {
    display: flex;
    justify-content: space-between;
}

.cart_button_wrapper {
    display: flex;
    justify-content: space-between;
}

.sub_total_text,
.grand_total_text {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1140px) and (min-width: 769px)  {
    .container_shopping_cart {
        display: flex;
        flex-direction: column;
        margin: 0 1em;
        margin-top: 96px;
    }

    .cart_button_wrapper {
        justify-content: center;
    }

    .shoping_cart_right {
        display: flex;
        justify-content: space-between;
    }

    .cart_item {
        justify-content: flex-start;
    }

    .cart_item_info {
        flex-grow: 5;
    }
}

@media (max-width: 768px) {
    .container_shopping_cart {
        flex-direction: column;
        margin: 0 1em;
        margin-top: 96px;
    }

    .cart_item {
        height: 214px;
    }

    .cart_item_info {
        margin: 14px 31px 38px 17px;
        flex-grow: 2;
    }

    .cart_item_title {
        font-size: 16px;
        max-width: 143px;
    }

    .cart_item_details li {
        font-size: 14px; 
    }

    .cart_item_info {
        margin: 1.37em 0 3.8em 2em;
    }
}   

@media (max-width: 440px) {
    .cart_item {
        height: 188px;
    }

    .cart_item img {
        width:40%;
    }
}




